<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos tu ubicación para mostrarte las sedes del Mundial 2026 cercanas a ti.</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a tu cámara para usar la función de Realidad Aumentada y detectar posters del Mundial 2026.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>fifa-26.ttf</string>
		<string>fifa-26.otf</string>
		<string>fifawelcome1.3.ttf</string>
		<string>fifa-26-wide.otf</string>
	</array>
</dict>
</plist>
