<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSCameraUsageDescription</key>
        <string>Esta app necesita acceso a la cámara para escanear el entorno en 3D usando LiDAR</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>arkit</string>
            <string>arm64</string>
        </array>
        <key>UIFileSharingEnabled</key>
        <true/>
        <key>LSSupportsOpeningDocumentsInPlace</key>
        <true/>
    </dict>
</plist>
