<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We need camera access to show the augmented reality arrow.</string>
    
    <key>NSNearbyInteractionUsageDescription</key>
    <string>We use Nearby Interaction to find the location of a client in need of help.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>We use the local network to connect staff and clients.</string>
    
    <key>Privacy - Location When In Use Usage Description</key>
    <string>We need your location to use the Nearby Interaction framework.</string>
    
    <key>NSBonjourServices</key>
    <array>
        <string>_atenea-app._tcp</string>
    </array>
</dict>
</plist>
